<div class="add-relation-form text-center">
    <div class="form-group">
        <input class="form-control input-lg col-md-10" placeholder="Taper un mot" autofocus #termeRecherche>
        <br>
        <button (click)="rechercherTerme($event, termeRecherche)" class="btn btn-primary ">Chercher</button>
    </div>
</div>

<div class="relation-list">
    <!--  
    <div class="alert alert-info text-center" [hidden]="relations.length > 0">
        <h3>No Relations</h3>
    </div>
    -->
    <div *ngFor="let relation of relations">
    <!--
    <div class="col-md-1">
        <input type="checkbox">
    </div>
    -->
    <div class="col-md-12">
        {{relation.text}}
    </div>
    <!--
    <div class="col-md-4 btns">
        <input type="button" class="btn btn-danger pull-right" value="Delete">
        <input type="button" class="btn btn-default pull-right" value="Edit">
    </div>
    -->
    </div>
</div>