<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="/">JDM</a>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="http://www.jeuxdemots.org/jdm-about.php">A propos</a>
                </li>
                <li>
                    <a href="mailto:mathieu.lafourcade@gmail.com?subject=JeuxDeMots contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="contenu">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2 footer-item">
                    <li class="list-inline-item">
                        <a href="http://www.jeuxdemots.org/jdm-about.php">A propos</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="mailto:mathieu.lafourcade@gmail.com?subject=JeuxDeMots contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 ">
                <p class="text-muted small footer-item">&copy; JDM 2018. Tous droits réservés.</p>
            </div>
            <div class="col-lg-4 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0 footer-item">
                    <li class="list-inline-item mr-3">
                        <a href="https://www.facebook.com/jeuxdemots.org/">
                            <i class="fa fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>