<div class="barre-recherche text-center">
    <div class="form-group">
        <input class="input-lg col-md-10" placeholder="Taper un mot" autofocus #termeRecherche>
        <button (click)="rechercherTerme($event, termeRecherche)" class="btn btn-primary col-md-2">Chercher</button>
    </div>
</div>

<table *ngIf="definitions" class="table-definitions table table-bordered">
    <thead>
        <tr>
            <th>Définitions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td [innerHTML]="definitions"></td>
        </tr>
    </tbody>
</table>

<table *ngIf="relations" class="table-relations table table-bordered">
    <thead>
        <tr>
            <th>Relations sortantes</th>
            <th>Relations entrantes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let relation of relations">
            <td>{{relation.sortantes}}</td>
            <td>{{relation.entrantes}}</td>
        </tr>
    </tbody>
</table>

